<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="../../style.css">

    <link rel="stylesheet" href="../../lib/animate/animate.min.css">
    <link rel="stylesheet" href="../../lib/owlcarousel/assets/owl.carousel.min.css">

    <!-- Add Axios Library -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Vue Library -->
    <script src="https://unpkg.com/vue@next"></script>
    <title>Fresh To Plate</title>
</head>
<body>
    <!-- Nav Bar -->
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="../home.html">
          <h1 class="fw-bold text-success">Fresh<span class="text-danger">To</span>Plate</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="../home.html" class="nav-item nav-link">Home</a>
            <a href="../recipe/recipe.html" class="nav-item nav-link">Recipes</a>  
            <a href="../inventory/inventory.html" class="nav-item nav-link">Inventory</a>
            <a href="../mealplan/mealplan.html" class="nav-item nav-link">Meal Plan</a>
            <a href="../vid/vid.html" class="nav-item nav-link active">Videos</a>
            <a href="../../index.html" class="btn btn-outline-danger">Logout</a>
          </div>
        </div>
      </div>
    </nav>
    
    <!-- ACTUAL CONTENT START -->

    <!-- Carousel -->
    <div id="carouselExampleAutoplaying" class="carousel slide mb-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./img/carouselpic1.jpg" class="d-block w-100 vh-100" alt="...">
          <div class="carousel-caption">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-7">
                        <h1 class="display-2 mb-5 animated slideInDown">Master Proper Cutting Methods</h1>
                        <a href="#bottom">
                          <button class="btn btn-success rounded-pill btn-lg m-1 py-sm-3 px-sm-5">Learn Now</button>
                        </a>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./img/carouselpic2.jpg" class="d-block w-100 vh-100" alt="...">
          <div class="carousel-caption">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-7">
                      <h1 class="display-2 mb-5 animated slideInDown">Learn Professional Food Handling Techniques</h1>
                      <a href="#bottom">
                        <button class="btn btn-success rounded-pill btn-lg m-1 py-sm-3 px-sm-5">Learn Now</button>
                      </a>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./img/carouselpic3.jpg" class="d-block w-100 vh-100" alt="...">
          <div class="carousel-caption">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-7">
                      <h1 class="display-2 mb-5 animated slideInDown" style="color: white;" >Elevate Everyday Meals</h1>
                      <a href="#bottom">
                        <button class="btn btn-success rounded-pill btn-lg m-1 py-sm-3 px-sm-5">Learn Now</button>
                      </a>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    
    <a name="bottom" id="bottom"></a>
    <div id="app1" class="pageBody container" style="align-items: center;">
      <div class="row mb-5" style="align-items: center; justify-content: center;">
        <div class="col d-flex" style="align-items: center; justify-content: center;">
          <button @click="selectDifficulty('easy')" :class="btnClass.easy">Junior Chef</button>
          <button @click="selectDifficulty('medium')" :class="btnClass.medium">Advanced Chef</button>
          <button @click="selectDifficulty('hard')" :class="btnClass.hard">Masterchef</button>
        </div>
      </div>
      
      <div class="row" v-if="selectedDifficulty === 'easy'" style="align-items: center; justify-content: center;">
          <h2 style="text-align: center;">Basic Skills For Beginners</h2>
        <!-- Your content for the easy level goes here -->
          <p class="mb-5" style="text-align: center;"> This is the start of your cooking journey!</p>
          <div id="headerPopup" class="col d-flex my-2 mfp-hide embed-responsive embed-responsive-21by9" style="align-items: center; justify-content: center;">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/-jrzTWkHv-0?si=hYSLS-zW7OogmpaE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <br><br>
          <div id="headerPopup" class="col d-flex my-2 mfp-hide embed-responsive embed-responsive-21by9" style="align-items: center; justify-content: center;">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/ShbcEabd17E?si=-G-oov27wZYaBABi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <br><br>
          <div id="headerPopup" class="col d-flex my-2 mfp-hide embed-responsive embed-responsive-21by9" style="align-items: center; justify-content: center;">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/vawL-uCKezg?si=k9JAW6LXM2wTK2Ws" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <br><br>
          <div id="headerPopup" class="col d-flex my-2 mfp-hide embed-responsive embed-responsive-21by9" style="align-items: center; justify-content: center;">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/KgrTKtOqcA0?si=FcNc58LpbK9lkEEo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <br><br>
          <div id="headerPopup" class="col d-flex my-2 mfp-hide embed-responsive embed-responsive-21by9" style="align-items: center; justify-content: center;">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/hGYPMbtNXfA?si=CwXq5InR9Ab6gJLC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
      </div>
  
      <div class="row" v-if="selectedDifficulty === 'medium'" style="align-items: center; justify-content: center;">
          <h2 style="text-align: center;">How-Tos For Every Intermediate Chef</h2>
        <!-- Your content for the medium level goes here -->
          <p class="mb-5" style="text-align: center;"> Are you ready to learn more?</p>
          <div id="headerPopup" class="col d-flex my-2 mfp-hide embed-responsive embed-responsive-21by9" style="align-items: center; justify-content: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/p28wMbunulQ?si=xAZLzEcU0RYjYvw5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <br><br>
          <div id="headerPopup" class="col d-flex my-2 mfp-hide embed-responsive embed-responsive-21by9" style="align-items: center; justify-content: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VjINuQX4hbM?si=-N1Sg-XXMUXVq0tT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <br><br>
          <div id="headerPopup" class="col d-flex my-2 mfp-hide embed-responsive embed-responsive-21by9" style="align-items: center; justify-content: center;">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/wcueSXGueJs?si=pieryWgrqIuMawPV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <br><br>
          <div id="headerPopup" class="col d-flex my-2 mfp-hide embed-responsive embed-responsive-21by9" style="align-items: center; justify-content: center;">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/TxBQM0NKreg?si=ubmyTXTU-NrXvK7C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <br><br>
          <div id="headerPopup" class="col d-flex my-2 mfp-hide embed-responsive embed-responsive-21by9" style="align-items: center; justify-content: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hJTy_8Dtbsc?si=ZQDppkRWG9qGNpRC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
      </div>
  
      <div class="row" v-if="selectedDifficulty === 'hard'" style="align-items: center; justify-content: center;">
        <h2 style="text-align: center;">What's Cookin' Good Lookin'</h2>
        <!-- Your content for the hard level goes here -->
        <p class="mb-5" style="text-align: center;"> Welcome Masterchef. </p>
        <div id="headerPopup" class="col d-flex my-2 mfp-hide embed-responsive embed-responsive-21by9" style="align-items: center; justify-content: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mxa-4hN1-qM?si=zYGPAfMWFbJTUBP9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <br><br>
          <div id="headerPopup" class="col d-flex my-2 mfp-hide embed-responsive embed-responsive-21by9" style="align-items: center; justify-content: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/AtgqMOi2Ze4?si=Ec1F2oJGVRImq11w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <br><br>
          <div id="headerPopup" class="col d-flex my-2 mfp-hide embed-responsive embed-responsive-21by9" style="align-items: center; justify-content: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QmFT-L45i2w?si=YJRPZsPXAmm4yjmU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <br><br>
          <div id="headerPopup" class="col d-flex my-2 mfp-hide embed-responsive embed-responsive-21by9" style="align-items: center; justify-content: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/E3H4MW14zpk?si=qnK1Ze5w6yoDq1JT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <br><br>
          <div id="headerPopup" class="col d-flex my-2 mfp-hide embed-responsive embed-responsive-21by9" style="align-items: center; justify-content: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mRx_odAj-XQ?si=bSMk7C6gA65sVhFm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
      </div>
  
    <script>
       Vue.createApp({
        data() {
          return {selectedDifficulty: "easy",
          btnClass : {
          easy : "btn btn-success btn-lg m-1",
          medium : "btn btn-outline-success btn-lg m-1",
          hard : "btn btn-outline-success btn-lg m-1"}
        }
      },
        methods: {
          selectDifficulty(difficulty) {
            this.selectedDifficulty = difficulty;
            for (const checkClass in this.btnClass) {
              if (checkClass === difficulty) {
                this.btnClass[checkClass] = "btn btn-success btn-lg m-1"
              }
              else {
                this.btnClass[checkClass] = "btn btn-outline-success btn-lg m-1"
              }
            }
          },
        },
      }).mount('#app1')
    </script>

    </div>

    <!-- Footer -->
    <div class="container-fluid bg-dark footer wow fadeIn mt-5" data-wow-delay="0.1s">
      <div class="container py-5">
          <div class="row g-5">
              <div class="col-lg-6 col-md-6">
                  <h1 class="fw-bold text-success">Fresh<span class="text-danger">To</span>Plate</h1>
                  <p style="color: lightgray;">Your one-stop culinary companion, offering a diverse range of recipes to suit your every mood and preference. Discover delightful dishes, efficiently manage ingredients from your fridge, and embark on a flavorful culinary journey with us. We're here to make your cooking experience delightful, efficient, and endlessly exciting!</p>
              </div>
              <div class="col-lg-6 col-md-6">
                  <h4 class="text-light mb-4">Quick Links</h4>
                  <a class="btn btn-link" href="../recipe/recipe.html">Recipes</a>
                  <a class="btn btn-link" href="../inventory/inventory.html">Inventory</a>
                  <a class="btn btn-link" href="../mealplan/mealplan.html">Meal Plan</a>
                  <a class="btn btn-link" href="vid.html">Videos</a>
              </div>
          </div>
      </div>


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <!-- Javascript Libraries-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../../lib/wow/wow.min.js"></script>
    <script src="../../lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript-->
    <script src="../../main.js"></script>
</body>
</html>